#myDiv {
  display: none !important;
<<<<<<< HEAD
}

.model-content {
  height: 40%;
  width: 80%;
}

.img {
  height: 20%;
  width: 20%;
  float: left;
  position: fixed;
}

.event-info {
  position: relative;
  padding-left: 25%;
}

 
.brand-logo {
  margin-top:-70px;
  margin-left:30px;
}
.right {
  color:black;
  margin-right:30px;
  
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
=======
}

.model-content {
  height: 40%;
  width: 80%;
}

.img {
  height: 20%;
  width: 20%;
  float: left;
  position: fixed;
}

.event-info {
  position: relative;
  padding-left: 25%;
}

.about-paragraph {
  margin-top: 10%;
  padding: 10%;
  background-color: lightgray;
  text-align: center;
  border: black;
}

.page-footer{
position: absolute;
bottom: 0;
margin: 0 auto;
width: 100%;
text-align: center;
>>>>>>> fe3a3c1bc36edc79dc48413b1a2420d21c9e92d0
}

.about-footer {

  position:absolute;
  bottom:0px;
  margin: 0 auto;
  width:100%;
  text-align: center;
  height:200px;
}

i {
  padding:10px 0px 10px 0px;

}

.carousel {
margin-top:-50px;
}

h4 {
  margin-top:80px;
  text-align: center;
}

.fab {
  color:black;
}

#centerText {
  text-align: center;
}